.landing-content {
    .intro {
        --color-text: #fff;
        background: var(--color-theme-primary) url(/images/stripes.svg) no-repeat 25% top;
        background-size: 850px;
        color: var(--color-text);

        svg {
            max-width: 100%;
        }

        // Output: .landing-content .intro__heading
        &__heading {
            letter-spacing: 1px;
            margin-bottom: 50px;
        }

        // Output: .landing-content .intro__summary
        &__summary {
            p {
                font-size: get-size(500);

                &:first-of-type {
                    font-size: get-size(600);
                }
            }
        }

        // Output: .landing-content .intro__image
        &__image {
            text-align: center;
        }

        .inner-wrapper {
            max-width: 1200px;
        }
    }
}

@include media-query('md') {
    .landing-content {
        .intro {
            min-height: 100vh;
            padding: 0;

            .inner-wrapper {
                align-items: center;
                display: flex;
                height: 100vh;
            }

            svg {
                max-width: 375px;
            }
        }
    }
}
