@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans'), local('Open-Sans'),
        url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('/fonts/opensans-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: sassqwatch;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Londrina Solid'), local('Londrina-Solid'),
        url('/fonts/londrinasolid-black-webfont.woff2') format('woff2'),
        url('/fonts/londrinasolid-black-webfont.woff') format('woff');
}

body {
    // Strip the unit off the size ratio to generate a line height
    $line-height: get-size(600);
    line-height: $line-height / ($line-height * 0 + 1);

    @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
    @include apply-utility('font', 'display');
}

h1 {
    font-size: get-size(700);
}

h2 {
    font-size: get-size(600);
}

h3 {
    font-size: get-size(500);
}

@include media-query('md') {
    h1 {
        font-size: get-size(900);
    }

    h2 {
        font-size: get-size(800);
    }

    h3 {
        font-size: get-size(700);
    }
}
